.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ffffff;
  font-family: "Poppins";
}

.card {
  width: 80%;
  border-radius: 4px;
  background-color: #fffefe;
}

.col-left {
  display: flex;
  justify-content: center;
}

.image-container {
  display: flex;
  justify-content: center;
}

.image {
  max-width: 100%;
  height: auto;
}

.form-title {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 17px;
  color: #333;
  text-align: center;
  font-family: "Poppins";
  margin-left: 5px;
}

.form-item {
  margin-bottom: 18px;
  margin-left: 55px;
}

.input-field {
  width: 400px;
  height: 50px;
  font-size: 15px;
}

button[type="submit"] {
  background: linear-gradient(to right, #0f12a4, #121477);
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 4px;
  width: 200px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: "Poppins";
}

.error-message {
  margin-left: 20px;
  color: #ff4d4f;
  margin-top: 8px;
  background-color: #f0b9ba;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 20px;
  }

  .card {
    width: 100%;
  }

  .col-left {
    display: none;
  }

  .form-title {
    margin-bottom: 20px;
  }

  .form-item {
    margin-left: 0;
  }

  .input-field {
    width: 100%;
  }

  button[type="submit"] {
    margin-left: 0;
  }
}
