.new-spacer {
  height: 100px;
}

.new-home-page .new-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f7f4f4;
  color: #333;
}

.new-content {
  margin-top: 1.5rem;
  padding: 0 1rem;
}

.new-content h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 2.6rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #062a78;
}

.new-content p {
  font-family: "Georgia", serif;
  font-size: 1.5rem;
  line-height: 1.6;
  color: #555;
  margin-bottom: 2rem;
}

.new-highlight {
  color: #f39c12;
}

.new-button {
  background: linear-gradient(to right, #f39c12, #e74c3c);
  color: #fff;
  padding: 1.2rem 2rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  font-weight: bold;
  z-index: 1;
  position: relative;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out,
    transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 5px 15px rgba(211, 92, 1, 0.3);
}

.new-button:hover {
  background: linear-gradient(to right, #e74c3c, #f39c12);
  color: #fff;
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

.new-button:active {
  transform: scale(0.95);
}

.new-image-container {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  margin-top: 2rem;
}

.new-animated-image {
  width: 100%;
  height: auto;
  max-width: 1020px;
  border-radius: 15px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.new-image-container:hover .new-animated-image {
  transform: scale(1.1);
  filter: saturate(120%);
}

.new-feature-card {
  width: 80%;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.new-feature-card:hover {
  transform: scale(1.05);
  background: linear-gradient(to right, #ffffff, #f3efe9);
}

.new-feature-card .feature-image {
  width: 60%;
  border-radius: 8px;
  margin-bottom: 1rem;
  transition: transform 0.3s ease-in-out;
}

.new-feature-card:active .feature-image {
  transform: scale(1.5); /* Zoom de l'image lorsqu'on clique */
}

.new-feature-card .feature-text {
  text-align: center;
}
.new-features {
  margin-top: 2rem; /* Ajoutez la marge supérieure souhaitée */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #f4f4f4;
  padding: 3.8rem;
  border-radius: 15px;
}

.new-feature-card .feature-text h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  color: #1a1a1a;
  padding: 1rem;
}

.new-feature-card .feature-text p {
  font-family: "Georgia", serif;
  font-size: 1rem;
  color: #777;
  line-height: 1.5;
  padding: 0 1rem 1rem 1rem;
}

@media screen and (max-width: 768px) {
  .new-content {
    padding: 1rem;
  }

  .new-content h1 {
    font-size: 1.5rem;
    line-height: 1.2;
    margin-bottom: 0.5rem;
  }

  .new-content p {
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 1rem;
  }

  .new-button {
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
  }

  .new-image-container {
    display: none;
    margin-top: 1rem;
  }

  .new-features {
    margin-top: 1.5rem;
  }

  .new-feature-card {
    margin-bottom: 1rem;
  }

  .new-feature-card h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .new-feature-card p {
    font-size: 1rem;
    color: #777;
  }
}
