.reset-password-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 105vh;
  background-color: #ffffff;
}

.reset-pass {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  max-width: 1150px;
  height: auto;
  padding: 20px;
  background-color: transparent;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 255, 0.5);
}

.image-container {
  flex: 1;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Ajoute une ombre douce autour de l'image */
}

.image-container img {
  width: 100%; /* Utilisez width au lieu de min-width pour une meilleure adaptation */
  height: 100%; /* Utilisez height au lieu de min-height pour une meilleure adaptation */
  object-fit: cover;
}

.reset-form-container {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -70px;
}

.reset-form {
  max-width: 450px;
  width: 100%;
}

.forgot-password-title {
  font-family: "Poppins", sans-serif;
  font-size: 2.7rem; /* Taille du titre */
  font-weight: bold;
  margin-bottom: 25px;

  animation: bounceIn 1s ease forwards; /* Animation */
  transform-origin: center; /* Origine de la transformation */
  margin-left: -10px;
  margin-top: 50px;
}

.forgot-password-title span {
  color: #252525; /* Couleur des mots alternatifs */
}

@keyframes bounceIn {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.error-message {
  color: #ff4d4f;
  margin-bottom: 10px;

  font-weight: bold;
  width: 60%;
}
/*pour step1*/
.reset-info {
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  color: #0b3795;
  font-size: 1rem;
  margin-left: 15px;
}

.form-item {
  margin-bottom: 15px;
}

.reset-button {
  margin-left: -20px;
  width: 100%;
  height: 45px;
  border-radius: 8px;
  background-color: #0b3795;
  color: white;
  border: none;
  padding: 15px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.reset-button:hover {
  background-color: #1141a8 !important;
}
.custom-mt-2 {
  margin-top: 10px;
  margin-left: 13px;
}

.custom-reset-link {
  color: #121477;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.custom-signup-link:hover {
  color: #121477;
}

.custom-reset-text {
  font-family: "Poppins", sans-serif;
  font-size: 17px;

  color: #1c1c1c;

  text-decoration: none; /* Supprime la soulignement par défaut */
}
/*step2*/
.verification-info {
  margin-left: 8px;
  margin-bottom: 20px;
  margin-top: 10px;
  color: #363637;
  font-size: 15px;

  font-family: "Poppins", sans-serif;
}

.verification-code {
  margin-top: 40px;
  display: flex;
  flex-direction: column; /* Changer la direction en colonne */
  align-items: center; /* Centrer les éléments horizontalement */
  margin-right: 70px;
}

.verification-input-container {
  display: flex;
  justify-content: center; /* Centrer les éléments horizontalement */
  margin-right: 20px;
}

.verification-input {
  font-family: "Poppins", sans-serif;
  width: 50px;
  padding: 12px;
  text-align: center;
  margin-right: 4px;
  border: 1px solid #9d9a9a;
  border-radius: 4px;
}

/* Supprime la marge droite du dernier input pour éviter le débordement */
.verification-input:last-child {
  margin-right: 0;
}

.verif-b:hover {
  background-color: #123a8c !important ;
  width: 200px;
}
.resend-code-button {
  margin-left: -80px;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  background-color: transparent; /* Fond transparent */
  color: rgb(36, 35, 35); /* Couleur du texte */
  border: none; /* Supprimer la bordure */
  padding: 12px;
  font-size: 15px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.resend-code-button:hover {
  font-weight: bod;
}

.resend-timer {
  color: red;
  font-weight: bold;
}
.resend-code-message {
  color: #504f50; /* Couleur de texte vive */

  font-family: "Poppins", sans-serif;
  font-size: 15px;
  margin-left: 10px;
  background-color: pink;
}
/*step3*/
.reset-message {
  font-family: "Poppins", sans-serif;
  margin-top: 60px;
  margin-left: 62px;
  margin-bottom: 10px;
  color: #0c0ca4;
  font-size: 1.2rem;
}

.form-itemp {
  margin-bottom: 16px;
}

.reset-buttonp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-buttonp:hover {
  background-color: #0a3297 !important; /* Nouvelle couleur au survol */
}

/* Media queries pour les écrans de petite taille, comme les smartphones */
@media screen and (max-width: 576px) {
  .reset-password-page {
    height: 90vh;
    background-color: transparent; /* Réinitialise le fond sur les petits écrans */
    padding: 70px;
  }

  .reset-pass {
    flex-direction: column;
    background-color: transparent; /* Réinitialise le fond sur les petits écrans */
    box-shadow: none; /* Supprime l'ombre sur les petits écrans */
  }

  .reset-form-container {
    margin-left: 0;
    padding: 50px;
    background-color: transparent; /* Réinitialise le fond sur les petits écrans */
  }

  .image-container {
    display: none; /* Cacher l'image sur les petits écrans */
  }

  .custom-reset-text {
    font-size: 15.5px;
  }

  .resend-code-button {
    margin-top: -20px;
    margin-left: 180px;
  }

  .verification-input {
    width: 40px;
    padding: 12px;
    text-align: center;
    margin-right: 4px;
    border: 1px solid #9d9a9a;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  /* Masquer les images sur les petits écrans */
  .reset-image {
    display: none;
  }
}

/* Media queries pour les écrans de taille moyenne, comme les tablettes */
@media screen and (min-width: 577px) and (max-width: 1024px) {
  .reset-pass {
    margin-left: -200px;
  }
  .reset-form-container {
    padding: 20px;
    margin-top: 5px;
  }
  .image-container {
    display: none; /* Cacher l'image sur les petits écrans */
  }

  .reset-password-page {
    height: 90vh;
  }

  .verification-code {
    margin-left: 10px;
  }

  .verification-input {
    font-family: "Poppins", sans-serif;
    width: 32px; /* Vous pouvez ajuster la largeur selon vos besoins */
    padding: 12px; /* Ajoutez de l'espace autour des champs */
    text-align: center; /* Centre le texte dans le champ */
    margin-right: 4px; /* Ajoute un espace entre les champs */
    border: 1px solid #9d9a9a; /* Ajoute une bordure pour délimiter les champs */
    border-radius: 4px; /* Ajoute un peu de bord arrondi */
    margin-bottom: 10px;
  }
}
